<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <!-- Footer Elements -->
    <div class="container">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-4">
                <a href = "mailto: thrisharajkumar5@gmail.com">thrisharajkumar5@gmail.com</a>
                
            </div>
        </div>
        
        <div class="col-lg-4">
            <!-- Copyright -->
            <span style="color:aliceblue;margin-left: 100px;">© 2022 Copyright</span>
            <!-- Copyright -->
        </div>
        <div class="col-lg-4">
            <a href="https://github.com/thrisharajkumar" target="_blank" style="margin-left: 200px;">Github.com</a>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
    
    <!-- Footer Elements -->
</nav>