
<div>
  <figure class="text-end" style=" text-align:center">
  </figure>
  <div class="card_1">
    <div class="card-header">
      <h3 style="text-align: center;"><u>Skills & Endorsements</u></h3>
    </div>
    <div class="card-body " style="font-family: Consolas,monaco,monospace; ">
      <ul>
        <li>Logical and Reasoning Skills</li>
        <li>Analytical Skills</li>
        <li>Front End Angular Web Developer</li>
        <li>Programmer (beginner)– C, C++, HTML, Phyton, Java and DBMS</li>
      </ul>
    </div>
    <div class="card-header">
      <h3 style="text-align: center;"><u>Interests</u></h3>
    </div>
    <div class="card-body " style="font-family: Consolas,monaco,monospace; ">
      <ul>
        <li>Exercising – regularly</li>
        <li>Participated - in Mini Marathon Races</li>
        <li>Producing Music</li>
        <li>Bharatnatyam</li>
        <li>Skating</li>
        <li>Badminton</li>
        <li>Protography</li>
        <li>Interest in Learning new Tech</li>
      </ul>
    </div>
  </div>
</div>



<br><br><br>
