<div>
    <figure class="text-end" style=" text-align:center">
    </figure>
    <div class="card_1">
      <div class="card-header">
        <h3 style="text-align: center;"><u>Skills & Endorsements</u></h3>
      </div>
      <div class="card-body " style="font-family: Consolas,monaco,monospace; ">
        <ul>
          <li>Logical and Reasoning Skills</li>
          <li>Analytical Skills</li>
          <li>Front End Angular Web Developer</li>
          <li>Programmer (beginner)– C, C++, HTML, Phyton, Java and DBMS</li>
        </ul>
      </div>
      <div class="card-header">
        <h3 style="text-align: center;"><u>Interests</u></h3>
      </div>
      <div class="card-body " style="font-family: Consolas,monaco,monospace; ">
        <ul>
          <li>Exercising – regularly</li>
          <li>Participated - in Mini Marathon Races</li>
          <li>Producing Music</li>
          <li>Bharatnatyam</li>
          <li>Skating</li>
          <li>Badminton</li>
          <li>Protography</li>
          <li>Interest in Learning new Tech</li>
        </ul>
      </div>
    </div>
      
</div>
<div class="container" style="margin-top: 50px;">
    <div class="row" style="margin-top: 10px">
        <div class="col-md-6 col-xs-6" *ngFor="let course of angularcourse">
            <div class="card" style="border-style:groove;border-color:black;margin-top: 50px" >
                <div class="card-body" style="margin-top: 50px;margin-bottom: 100px;margin-left: 100px;">
                    <img src="/assets/IMG5.png" style=" height: 200px;width: 300px; padding: 10px;">
                    <h5 class="card-title">{{ course.name | uppercase}}</h5>
                    <p class="card-text">{{ course.designation |uppercase}}</p>
                    
                    <a class="btn btn-primary" style="text-align:center" target="_blank" href="https://www.linkedin.com/in/thrisha-rajkumar-50228a1b2/recent-activity/
                    " >Read More....</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>