
<div >
    <figure class="text-end" style=" text-align:center">
        </figure>
        <div class="card_1" >
            <div class="card-header">
              <h3 style="text-align: center;"><u>EDUCATION</u></h3>
            </div>
            <div class="card-body " style="font-family: Consolas,monaco,monospace; ">
                    <ul>
                        <li>
                            Pursuing 3rd Year Bachelor of Technology (Specialization in Data Science)
                                <br>Positional Grade up to 3rd year:  8.39 CGPA
                                <br>Dehradun Institute of Technology (DIT)
                                Dehradun, Uttarakhand, India
                        </li>
                        <li>
                            Senior School Certificate Examination (Class XII)
                                <br>Central Board of Secondary Education
                                <br>Positional Grade: 74.2%
                                <br>The Wisdom Global School
                                Jwalapur, Haridwar, Uttarakhand, India
                        </li>
                        <li>
                            Secondary School Certificate Examination (Class X)
                                <br>Central Board of Secondary Education
                                <br>Positional Grade: 84.2%
                                <br>City International School. Wanaworie, Pune, Maharashtra, India
                        </li>
                    </ul>
                        </div>
            </div>
          </div>

      <br>

    
    



