<div>
  <br><br><br><br>

</div>

<div class="card">
  
  <div class="card-body">
    <h4 class="card-title">Connect Me!</h4>
    <div class="row">
      <div class="col-md-6">
        <form [formGroup]="myForm" novalidate>
          <div class="form-group">
            <label>Name</label>
            
            <input type="text" class="form-control" placeholder="Enter your Name" formControlName="username" [ngClass]="{'is-invalid': username.errors && (username.touched || username.dirty), 'is-valid':username.valid}"   >
            
            <div class="invalid-feedback" >
               
              <strong *ngIf="username.errors?.required">Name is required</strong>
              <strong *ngIf="username.errors?.minlength">Name length must be greater than {{username.errors?.minlength.requiredLength}} characters. {{username.errors?.minlength.requiredLength - username.errors?.minlength.actualLength}} more characters required. </strong>
            </div>
          </div>
          <div class="form-group ">
            <label>Contact no.</label>
            <input type="tel" class="form-control" placeholder="Enter Contact no." formControlName="tel" [ngClass]="{'is-invalid': tel.errors && (tel.touched || tel.dirty), 'is-valid':tel.valid}"   >
            <strong *ngIf="tel.errors?.required">Contact is required</strong>

          </div>
          <div class="form-group ">
            <label>Email Id</label>
            <input type="email" class="form-control" placeholder="Email ID for contact">
          </div>
          <div class="form-group ">
            <label>Job</label>
            <input type="Job" class="form-control" placeholder="Job requirements">
          </div>
          <button type="submit" class="btn btn-primary" (click)="onClick()">Submit</button>&nbsp;
        </form>
      </div>

    </div>  
  </div>
  <div class="card_1" >
    <div class="card-header">
      <h3><u>Contact details:</u></h3>
    </div>
    <div class="card-body " style="font-family: Consolas,monaco,monospace; ">
      <h4>Thrisha Rajkumar</h4>

        <p><a href="tel:+91-7410163006">Phone no.: +91-7410163006</a></p>
        <p><a href="https://www.linkedin.com/in/thrisha-rajkumar-50228a1b2/" target="_blank" >LinkedIn.com</a></p>
    <p><a href = "mailto: thrisharajkumar5@gmail.com">thrisharajkumar5@gmail.com</a></p>
    <p><a href="https://github.com/thrisharajkumar" target="_blank" >Github.com</a></p>

      <h6>REFERENCE</h6>

 	Prof. Sundar <br>
Principal – Nashik Cambridge School, Nashik
    </div>
  </div>
  <br><br><br><br><br>
</div>