<!-- iterate through all the JSON data from the home.service.ts -->
<!-- <div style="margin-top: auto;">
    <div class="row">
        <div class="card col-lg-4" *ngFor="let item of users" style="margin-top: 50px;">
            <div class="card-body col-lg-10">
                <div class="row" style="border: solid;border-color: rgb(69, 10, 178);margin-top: 50px;border-radius: 10px;margin-left: 30px;margin-right: 30px;width:450px;">
                    <div class="col-lg-6">
                        
                        <img [src]="item.image">
                    </div>
                    <div class="col-lg-6" style="margin-top: 30px;">
                        <div>
                            
                            {{ item.name | uppercase}}
                            <span [ngClass]="getClass()" (click)="showUserDetailsToggle()"></span>
                        </div>
                        
                        <div [hidden]="userDetail"> 
                            <p>{{item.username | uppercase}}</p>
                            <p>{{item.email}}</p>
                            <p>{{item.phone}}</p>>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

-->
<div>
    <figure class="text-end" style=" text-align:center">
        <blockquote class="blockquote">
            <p class="myname">THRISHA RAJKUMAR</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            <cite title="Source Title " class="student">Btech CSE Student</cite>
        </figcaption>
        <br><br>
        <h2>About Me</h2>
        <br>
                <div class="student" style="text-align: center; background-color: lightblue;">
                    <p>Currently, Pursuing 3<sup>rd</sup> Year Bachelor of Technology in Computer Science, specialization in
                        Data Science
                        and Analytics at Dehradun Institute of Technology (DIT) –Dehradun, Uttrakhand.
                        I am always interested in new avenues and interactions, currently seeking an opportunity to carry
                        out an internship in coding/programming.
                    </p>
                </div>
    </figure>
    </div>

<div class="row">
    <div class="card col-lg-4" *ngFor="let item of users" style="margin-top: 50px;">
        <div class="card-body col-lg-4">
            <div class="row" style="border: solid;border-color: rgb(69, 10, 178);margin-top: 50px;border-radius: 10px;margin-left: 10px;margin-right: 10px;width: 350px;">
                <div class="col-lg-4">
                    <img [src]="item.image" class="img" alt="img">
                </div>
                <div>
                    <h5 class="card-title">{{ item.name| uppercase}}</h5>
                </div>
                <div  style="text-align: center"> 
                    <br><br>
                    <br><br>
                    <br><br>
                    <p>{{item.content}}</p>
                </div>
          <a routerLink="ac" class="skill" routerLinkActive="active" href="../angular-course/" class="btn btn-primary">{{item.Details}}</a>
        </div>
    </div>
      <br><br><br><br><br><br>
</div>
    
    



